---
const year = new Date().getFullYear();
---
<footer class="foot">
  <div class="foot-inner">
    <div class="brand">
      <span class="glyph">~</span>
      <span>ghoul<span class="dim">.dev</span></span>
    </div>
    <div class="foot-links">
      <a href="https://github.com/Ghoul4500" target="_blank" rel="noopener">GitHub</a>
      <a href="https://gitlab.com/Ghoul4500" target="_blank" rel="noopener">GitLab</a>
      <a href="mailto:yaseen@ghoul.dev">Email</a>
      <a href="/blog">Blog</a>
    </div>
    <div class="copy">© {year} Ahmed Yaseen Ibrahim</div>
  </div>
</footer>
